<!DOCTYPE html>
<html lang="zh-CN">
<%- include drivingSchool/UI/partials/common/header -%>
<body>
    <%- include drivingSchool/UI/partials/main/loader -%>
    <div class="wrap" id="studentWrap">
        <%- include drivingSchool/UI/partials/main/head -%>
        <%- include drivingSchool/UI/partials/main/affiche -%>
        <%- include drivingSchool/UI/partials/main/user -%>
        <div id="main" class="body-wrap">
            <%- include drivingSchool/UI/partials/main/greeting -%>
            <% var column = [ [ {
                id:"modifyInfo", href:"../account/changeInfo.html", text:"修改资料"
            },{
                id:"sentMessage", href:"sentMessage.html", text:"已发消息"
            },{
                id:"suggestion", href:"javascript:;", text:"意见建议"
            } ],[{
                id:"modifyPwd", href:"../account/changePwd.html", text:"修改密码"
            },{
                id:"sendMessage", href:"sendMessage.html", text:"预约教练" 
            },{
                id:"onlineExam", href:"onlineExam.html", text:"在线考试"
            }],[{
                id:"about", href:"https://github.com/Tomotoes/drivingSchool", text:"关于系统"
            },{
                id:"coachList", href:"coachList.html", text:"教练列表"
            },{
                id:"exit", href:"javascript:;", text:"退出" }]];
        %>
        <%- include drivingSchool/UI/partials/main/main -%>
        </div>
    </div>
</body>

</html>