<!DOCTYPE html>
<html lang="zh-CN">
<%- include drivingSchool/UI/partials/common/header -%>
<body>
    <%- include drivingSchool/UI/partials/main/loader -%>
    <div class="wrap" id="studentListWrap">
        <%- include drivingSchool/UI/partials/main/head -%>
        <%- include drivingSchool/UI/partials/main/affiche -%>
        <%- include drivingSchool/UI/partials/main/user -%>
        <% var th=["发送者","内容","发送时间"] %>
        <%- include drivingSchool/UI/partials/main/table -%>
    </div>
</body>

</html>